.page{
    display: flex;
    padding: 16px;
    align-items: flex-start;
    gap: 12px;
    flex-wrap: wrap;

    border-radius: 8px;
    border: 1px solid var(--Gray-400, #333);
    background: var(--Gray-500, #262626);
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.06);


    p{
        max-width: 100% ;

        color: var(--Gray-100, #F2F2F2);
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;

        word-wrap: break-word;
        flex: 1;
    }
}

.Icon{
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    padding: 3.273px;
    color: #4EA8DE;
}

.textCompleted {
    text-decoration: line-through;
}